* {
	all: unset;
}

window {
	background: transparent;
	color: #ef3985;
	font-size: 20px;
	& > * {
		margin: 6px;
		font-family: "Iosevka SS14 SemiBold";
	}
}

window > box {
	margin: 5px;
	background: #0d0f11;
	border-radius: 1px;
	//box-shadow: 0 0 2px 2px rgba(0, 0, 0, .40);
}

.metric scale {
	margin-top: .5em;
	margin-bottom: .1em;
}

.metric scale trough highlight {
	background-image: linear-gradient(,#f7a1c5, #ef3985);
	color: #000000;
	border-radius: 1px;
}

.metric scale trough {
	background-color: #242a33;
	min-height: 100px;
	min-width: 5px;
	border-radius: 1px;
}

