/nvim/plugin/packer_compiled.lua
/st/config.h
/st/*.o
/st/st
/emacs.d/*~
/emacs.d/**/*.elc
/emacs.d/auto-save-list
/emacs.d/recentf
/emacs.d/savehist
/emacs.d/saveplace
/emacs.d/eshell
/emacs.d/elpa
/emacs.d/semanticdb
/emacs.d/url
/emacs.d/ede-projects.el
/emacs.d/.DS_Store
/emacs.d/custom.el
/emacs.d/places
/emacs.d/.smex-items
/emacs.d/savefile/
/emacs.d/projectile-bookmarks.eld
/emacs.d/session*
/emacs.d/.cask
/emacs.d/tramp
/emacs.d/var/pcache
/emacs.d/tree-sitter
/emacs.d/history
/emacs.d/eln-cache/
/emacs.d/ielm-history.eld
/emacs.d/projects
/emacs.d/.mc-lists.el
/emacs.d/tutorial
/emacs.d/ido.last
/emacs.d/smex-items
