xterm*Background:#181828
xterm*Foreground:#a6accd
xterm*faceName:Iosevka Nerd Font Mono:style=Regular
xterm*faceSize:14
xterm*selectToClipboard:true

xterm*VT100.Translations: #override \
	Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)

xterm*color15:#cccccc
xterm*color14:#62adcc
xterm*color13:#c792ea
xterm*color6:#62adcc
xterm*color10:#7cd380
xterm*color12:#82aaff
xterm*color11:#e37858
xterm*color1:#f07178
xterm*color2:#7cd380
xterm*color3:#ffcb6b
xterm*color4:#82aaff
xterm*color9:#f07178
xterm*color5:#c792ea
xterm*color8:#8796b0
xterm*color0:#1b1b2b
xterm*color7:#abb2bf
XTerm*visualBell:False
