xterm*Background:#282838
xterm*Foreground:#b6bcdd
xterm*cursorColor:#969cbd
xterm*faceName:Iosevka Nerd Font Mono:style=Medium
xterm*faceSize:11
xterm*selectToClipboard:true
xterm*eightBitInput:false
xterm*eightBitOutput:true

xterm*VT100.Translations: #override \
	Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>Up:   scroll-back(1, halfpage) \n\
	Ctrl Shift <Key>Down: scroll-forw(1, halfpage) \n\
	Ctrl Shift <Key>+:    larger-vt-font() \n\
	Ctrl Shift <Key>-:    smaller-vt-font()

xterm*color0:  #3b3b4b
xterm*color1:  #f07178
xterm*color2:  #7cd380
xterm*color3:  #ffcb6b
xterm*color4:  #729aef
xterm*color5:  #b782da
xterm*color6:  #529dbc
xterm*color7:  #bbc2cf
xterm*color8:  #97a6c0
xterm*color9:  #ff5370
xterm*color10: #8ce390
xterm*color11: #ffdb7b
xterm*color12: #82aaff
xterm*color13: #c792ea
xterm*color14: #62adcc
xterm*color15: #ffffff
XTerm*visualBell:False
