@define-color bg     #070809;
@define-color fg     #dee9f7;
@define-color altbg  #0d0f11;
@define-color altfg  #ffffff;
@define-color revfg  #242a33;
@define-color red    #ef3985;
@define-color yellow #dac965;
@define-color green  #41e692;
@define-color blue   #39a1df;
@define-color orange #f7a1c5;

* > * {
	padding: 0px;
	transition: none;
}

window#waybar {
	background-color: transparent;
	font-family: "Symbols Nerd Font";
}

window#waybar > box {
	background-color: @bg;
}

#tray, #misc {
	margin: 5px 4px;
	font-size: 15px;
	/* background-color: @altbg; */
}

#misc {}

#tray {
	padding: 10px 0px;
	border-bottom: 1px solid @revfg;
}

#network {
	color: @orange;
	border-radius: 5px;
	padding: 5px 0px;
}

#pulseaudio {
	color: @red;
	border-radius: 5px;
	padding: 5px 0px;
}

#backlight {
	color: @yellow;
	border-radius: 5px;
	padding: 5px 0px;
}

#battery {
	color: @green;
	border-radius: 5px;
	padding: 5px 0px;
}

#clock {
	color: @blue;
	border-radius: 5px;
	padding: 5px 0px;
	font-size: 13px;
	font-family: "Iosevka Custom";
}

#audio, #brightness {
	padding: 0;
	margin: 0;
	min-width: 0;
}

#pulseaudio-slider slider, #backlight-slider slider {
	min-height: 0px;
	min-width: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
	background-color: transparent;
}

#pulseaudio-slider trough, #backlight-slider trough {
	min-height: 80px;
	min-width: 2px;
	border-radius: 5px;
	background-color: @bg;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider highlight, #backlight-slider highlight {
	min-width: 2px;
	border-radius: 5px;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider highlight {
	background-color: @red;
}
#backlight-slider highlight {
	background-color: @yellow;
}

#custom-nixos {
	color: @blue;
	border-radius: 1000px;
	padding: 1px;
}

#tags {
	font-family: "Iosevka Custom";
	font-size: 13px;
}

#tags button {
	background: @bg;
	border-color: @revfg;
	border-radius: 0;
}

#tags button.focused {
	background-color: @fg;
	color: @bg;
}
